[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Kelechukwu Nwandu (caseynv)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kelechukwu Nwandu (caseynv)
	label-Verified = -1..+1 group user/Kelechukwu Nwandu (caseynv)
	push = group user/Kelechukwu Nwandu (caseynv)
	read = group user/Kelechukwu Nwandu (caseynv)
	rebase = group user/Kelechukwu Nwandu (caseynv)
	removeReviewer = group user/Kelechukwu Nwandu (caseynv)
	submit = group user/Kelechukwu Nwandu (caseynv)
[access "refs/heads/*"]
	create = group user/Kelechukwu Nwandu (caseynv)
	push = +force group user/Kelechukwu Nwandu (caseynv)
	pushMerge = group user/Kelechukwu Nwandu (caseynv)
	read = group user/Kelechukwu Nwandu (caseynv)
[access "refs/tags/*"]
	push = group user/Kelechukwu Nwandu (caseynv)
	push = +force group user/Kelechukwu Nwandu (caseynv)
